rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /scores/{score} {
      allow read, write, update: if request.auth != null
    }
  }
}
