@use 'sass:math';
@import "styles/button";

$field-width: 80px;
$filed-height: 80px;
$start-z-index: 0;
$colors:
  [
    (
      'name': 'red',
      'color': rgba(255, 0, 0, 1),
    ),
  (
    'name': 'blue',
    'color': rgba(0, 0, 255, 1),
  ),
  (
    'name': 'green',
    'color': rgba(0, 132, 0, 1),
  ),
  (
    'name': 'yellow',
    'color': rgb(222, 222, 22),
  ),
  (
    'name': 'purple',
    'color': rgba(128, 0, 128, 1),
  ),
  (
    'name': 'pink',
    'color': rgb(255, 20, 147),
  ),
  (
      'name': 'orange',
      'color': rgba(255, 165, 0, 1),
    )];

@mixin field {
  width: $field-width;
  height: $filed-height;
  background-color: aliceblue;
  border: 1px black solid;
  z-index: $start-z-index + 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include ball;
}

@mixin ball {
  .ball {
    width: $field-width - 4px;
    height: $filed-height - 4px;
    border-radius: math.div($field-width, 2);
    z-index: $start-z-index + 2;
  }

  @each $color-map in $colors {
    $name-color: map-get($color-map, 'name');
    $color: map-get($color-map, 'color');
    .ball-#{$name-color} {
      background-color: $color;
    }
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;

  .main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;

    .navigations {
      padding-left: 1rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .score-component {
        .scores {
          display: flex;
          flex-direction: column;

          span {
            color: red;
            font-size: 1.5rem;
          }
        }
      }

      .buttons-and-selector {
        $background-color: #c2185b; // Raspberry color from Material Design palette
        $color: #ffffff; // White color

        display: flex;
        flex-direction: column;

        @include button($background-color, $color, ".button");
      }
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }

    .centered-game-board {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .game-board {
        //width: $field-width * 9;
        //height: $filed-height * 9;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        z-index: $start-z-index;

        .field {
          @include field;

          .ball-selected {
            animation-name: blink;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
          }
        }
      }

      .board-with-next-balls {
        display: flex;
        flex-direction: row;
        z-index: $start-z-index;
        margin-bottom: 1rem;
        margin-top: 1rem;

        .field {
          @include field;
        }
      }
    }
  }
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1250px) {
  body {
    width: 1250px;
    height: 900px;

    .game-board {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 1375px) {
  body .main {
    grid-template-rows: 1fr 0.2fr;
    grid-template-columns: 1fr;

    .navigations {
      order: 1;
      align-items: stretch;

      .score-component {
        position: absolute;
        top: 1%;
        left: 2%;
      }

      .buttons-and-selector {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .button ~ .button {
          margin-top: 0;
        }
      }
    }

    .centered-game-board {
      order: 0;
    }

    > div:empty {
      display: none;
    }
  }
}
