@use "sass:math";

$field-width: 80px;
$filed-height: 80px;
$start-z-index: 0;

.board-with-next-balls {
  //width: $field-width * 9;
  //height: $filed-height * 9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  z-index: $start-z-index;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .field {
    width: $field-width;
    height: $filed-height;
    background-color: aliceblue;
    border: 1px black solid;
    z-index: $start-z-index + 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .ball {
      width: $field-width - 4px;
      height: $filed-height - 4px;

      border-radius: math.div($field-width, 2);
      z-index: $start-z-index + 2;

    }

    @each $color in (red, blue, green, yellow, purple, pink, orange) {
      $color-name: "" + $color;
      .ball-#{$color-name} {
        background-color: $color;
      }
    }

  }
}
